:root {
    --losangeBigSquareSize: 35rem;
    --losangeBigSquareBorderRadius: 7rem;
    --losangeLogoWidth: 8rem;
    --losangeActiveBorderMainSize: 2rem;
    --losangeActiveBorderSecondSize: 0.5rem;
    
    @media #{$mobile} {
        --losangeBigSquareSize: 50vw;
        --losangeBigSquareBorderRadius: 5rem;
        --losangeLogoWidth: 5.5rem;
        --losangeActiveBorderMainSize: 1rem;
        --losangeActiveBorderSecondSize: 0.25rem;
    }
}