// mq
$mobile: "(max-width: 667px)";
$landscape: "(orientation: landscape) and (pointer: coarse), (orientation: landscape) and (max-width: 667px)";

$desktop: "(min-width: 668px)";
$desktopLarge: "(min-width: 1200px)";
$desktopVeryLarge: "(min-width: 1600px)";


$gutter: 2rem;
$dividerVertical: 2.5rem;

$layoutMaxWidthDesktop: 130rem;
$layoutNavHeightDesktop: 5rem;
$layoutNavHeightMobile: 6rem;

$stripHeight: 50rem;
$hudWidth: 33rem;
$hudRatio: 3.75;

$phonesWidth: 42rem;