// mq
$mobile: "(max-width: 667px)";
$landscape: "(orientation: landscape) and (pointer: coarse), (orientation: landscape) and (max-width: 667px)";

$desktop: "(min-width: 668px)";
$desktopLarge: "(min-width: 1200px)";
$desktopVeryLarge: "(min-width: 1600px)";

$layoutMaxWidthDesktop: 1200px;
$layoutNavHeightDesktop: 3rem;
